<h1 class="header">Posts</h1>

<ul class="list-group" *ngFor="let post of posts">
  <li class="list-group-item" [class.list-group-item-success]="post.loveIts > post.hateIts" [class.list-group-item-danger]="post.loveIts < post.hateIts">
    <h3>
      {{post.title}}
      <button *ngIf="authService.isAuth" type="button" name="deletePost" class="btn btn-outline-danger btn-sm ml-2" (click)="onDeletePost(post)" title="Delete"><i class="fa fa-minus"></i></button>
    </h3>
    <p>{{post.content | slice:0:150}}<a routerLink="/post/{{post.id}}">... Read more</a></p>
    <button type="button" name="loveIt" class="btn btn-success" (click)="onLoveIt(post)" title="Like"><i class="fa fa-thumbs-up mr-2"></i>{{post.loveIts}}</button>
    <button type="button" name="dontLoveIt" class="btn btn-danger ml-2" (click)="onHateIt(post)" title="Dislike"><i class="fa fa-thumbs-down mr-2"></i>{{post.hateIts}}</button>
    <span class="pull-right text-muted">{{post.created_at | date: 'short' }}</span>
  </li>
</ul>

<div class="mt-3">
  <button *ngIf="authService.isAuth" class="btn btn-primary" (click)="onNewPost()"><i class="fa fa-plus mr-2"></i>New post</button>
</div>
